<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<rules>
		<logger name="System.*" finalMinLevel="Warn" />
		<logger name="Microsoft.*" finalMinLevel="Warn" />
		<logger name="Microsoft.Hosting.Lifetime*" finalMinLevel="Info" />
		<logger name="*" minlevel="Trace" writeTo="ownFile-web" />
	</rules>
	
	<!-- 全局配置 -->
	<targets>
		<!-- 日志文件输出 -->
		<target xsi:type="File" name="fileTarget" fileName="logs/logfile.log"
				layout="${longdate} ${uppercase:${level}} ${message} ${exception}" />

		<!-- 控制台输出 -->
		<target xsi:type="Console" name="consoleTarget" layout="${longdate} ${uppercase:${level}} ${message}" />
	</targets>

	<!-- 规则，决定输出到哪里 -->
	<rules>
		<!-- 记录所有日志到文件 -->
		<logger name="*" minlevel="Trace" writeTo="fileTarget" />

		<!-- 记录所有日志到控制台 -->
		<logger name="*" minlevel="Trace" writeTo="consoleTarget" />
	</rules>

</nlog>
